<template>
  <div class="container">
    <header class="jumbotron">
      <div v-if="user" class="card">
        <div class="card-header">
          Sayın {{ user.name }} hoşgeldiniz.
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card-body">
              <h5 class="card-title">Üye Olduğunuz email {{user.email}} sistemimize kaydedilmiştir.</h5>
              <p class="card-text">Çocuklarınızı görmek için lütfen</p>
              <router-link :to="{name: 'students'}" class="btn btn-primary">Tıklayın</router-link>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Mevcut şifrenizi değiştirmek için lütfen</h5>
                <br>
                <router-link :to="{name: 'profile'}" class="btn btn-primary">Tıklayın</router-link>
              </div>
            </div>
          </div>
        </div>

      </div>
    </header>
  </div>
</template>

<script>
import UserService from '@/api/User';
export default {
  name: 'Home',
  data() {
    return {
      content: '',
      user: null,
    };
  },
  mounted() {
    UserService.auth().then(response => {
      this.user = response.data;
    });
  }
};
</script>
