<template>
  <div class="container-fluid mt--7">
    <div class="row justify-content-md-center">
      <div class="col-6">
        Password Change
        <form name="form" @submit.prevent="handleChangePassword">
          <div v-if="!successful">
            <div class="form-group">
              <label for="name">Ad Soyad</label>
              <input disabled
                      v-model="user.name"
                      v-validate="'required|min:3|max:20'"
                      type="text"
                      class="form-control"
                      name="name"
              />
            </div>
            <div class="form-group">
              <label for="currentpassword">Current Password</label>
              <input
                      v-model="currentpassword"
                      v-validate="'required|min:6|max:40'"
                      type="password"
                      class="form-control"
                      name="currentpassword"
              />
              <div
                      v-if="submitted && errors.has('currentpassword')"
                      class="alert-danger"
              >{{errors.first('currentpassword')}}</div>
            </div>
            <div class="form-group">
              <label for="password">Parola</label>
              <input
                      v-model="user.password"
                      v-validate="'required|min:6|max:40'"
                      type="password"
                      class="form-control"
                      name="password"
                      ref="password"
              />
              <div
                      v-if="submitted && errors.has('password')"
                      class="alert-danger"
              >{{errors.first('password')}}</div>
            </div>
            <div class="form-group">
              <label for="password_confirmation">Parola Tekrar</label>
              <input v-validate="'required|confirmed:password'"
                     name="password_confirmation" type="password"
                     class="form-control" data-vv-as="password">
              <div
                      v-if="submitted && errors.has('password_confirmation')"
                      class="alert-danger"
              >{{ errors.first('password_confirmation') }}</div>
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block">
                <span v-show="loading" class="spinner-border spinner-border-sm"></span>
                <span>Password Change</span>
              </button>
            </div>
          </div>
        </form>
        <div
                v-if="message"
                class="alert"
                :class="successful ? 'alert-success' : 'alert-danger'"
        >{{message}}</div>
      </div>
    </div>
  </div>
</template>

<script>
  import User from '../models/user';
  import UserService from "@/api/User";
  export default {
    name: 'Register',
    data() {
      return {
        user: new User('', '', ''),
        submitted: false,
        currentpassword: "",
        successful: false,
        message: '',
        loading: false,
      };
    },
    computed: {
      loggedIn() {
        return this.$store.state.auth.status.loggedIn;
      }
    },
    mounted() {
      UserService.auth().then(response => {
        this.user = response.data;
      });
    },
    methods: {
      handleChangePassword() {
        this.loading = true;
        this.message = '';
        this.submitted = true;
        this.$validator.validate().then(isValid => {
          if (isValid) {
            let payload = {
              ...this.user,
              currentpassword: this.currentpassword
            };
            console.log(payload);
            this.$store.dispatch('auth/update', payload).then(
                    data => {
                      this.message = data.message;
                      this.successful = true;
                      this.loading = false;
                    },
                    error => {
                      this.message =
                              (error.response && error.response.data) ||
                              error.message ||
                              error.toString();
                      this.successful = false;
                      this.loading = false;
                    }
            );
          } else {
            this.loading = false;
          }
        });
      }
    }
  };
</script>

